.container {
  box-shadow: 5px 6px 7px -1px #969696;
  background: url(../img/concrete.jpg) repeat;
  border: 3px ridge #C6C6CE; }

#saver-calc {
  width: 600px;
  font: 14px normal sans-serif;
  color: #3E389C;
  box-sizing: border-box; }

#psc-results, #psc-options {
  position: absolute; }

#psc-options {
  width: 330px;
  padding: 1em;
  border-right: 5px ridge #3E389C;
  border-radius: 5px 0 0 5px;
  z-index: 1; }

.form-group {
  line-height: 1.4em;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%; }
  .form-group:not(:last-child) {
    margin-bottom: 0.8em; }
  .form-group input {
    padding: 5px; }
  .form-group label, .form-group input, .form-group .suffix {
    margin: 0;
    display: inline-block;
    vertical-align: middle; }
  .form-group label {
    width: 10em;
    margin-right: .1em;
    padding: 0 .2em; }
  .form-group input {
    width: 3em;
    border: 1px solid #3E389C;
    border-radius: 5px 0 0 5px; }
  .form-group input[type=range] {
    height: .5em;
    box-shadow: none; }
  .form-group .suffix {
    display: inline-block;
    padding: 5px .5em 3px;
    background-color: #3E389C;
    border: 1px #503c3c;
    border-radius: 0 5px 5px 0;
    color: #dcdc8c;
    margin-right: .6em;
    width: 40px; }
  .form-group .readonly-control {
    width: 3em;
    height: .5em;
    border: 1px solid #3E389C;
    font-weight: bolder;
    font-size: 1.2em;
    padding: 3px .55em 3px;
    vertical-align: middle;
    border-radius: 5px 0 0 5px;
    background-color: rgba(220, 220, 220, 0.45); }

#psc-results {
  left: 370px;
  width: 560px;
  padding: 1em;
  background: linear-gradient(to right, whitesmoke, gainsboro 40%, #d9deee 90%, #c7dbdf);
  border-radius: 0 5px 5px 5px;
  z-index: 2;
  font: 1.1em Tahoma; }
  #psc-results table {
    border-collapse: collapse;
    width: 100%; }
    #psc-results table .descriptions {
      width: 25%; }
    #psc-results table tr:nth-child(1) th {
      height: 1em;
      padding-bottom: .2em;
      font-weight: normal; }
    #psc-results table tr:nth-child(2) th {
      height: 72px;
      width: 50px;
      font-size: .7em;
      vertical-align: bottom; }
    #psc-results table tr td {
      height: 2.4em;
      width: 50px;
      padding: .15em 0; }
      #psc-results table tr td:not(:first-child) {
        text-align: center; }
      #psc-results table tr td:nth-child(1) {
        font-size: .9em; }
    #psc-results table tbody tr:not(:last-child) {
      border-bottom: 1px solid #CED4E0; }
    #psc-results table .incandescent {
      background: radial-gradient(closest-side at 50%, rgba(255, 255, 255, 0.55), transparent), no-repeat 50% 0/50px 60px url(../img/bulb-types-incadescent.png); }
    #psc-results table .halogen {
      background: radial-gradient(closest-side at 50%, rgba(255, 255, 255, 0.55), transparent), no-repeat 50% 0/50px 60px url(../img/bulb-types-halogen.png); }
    #psc-results table .cfl {
      background: radial-gradient(closest-side at 50%, rgba(255, 255, 255, 0.55), transparent), no-repeat 50% 0/50px 60px url(../img/bulb-types-cfl.png); }
    #psc-results table .led {
      background: radial-gradient(closest-side at 50%, rgba(255, 255, 255, 0.75), transparent), no-repeat 50% 0/50px 60px url(../img/bulb-types-led.png); }
    #psc-results table .savings {
      font-weight: bold; }

.footnote {
  padding: .1em 0;
  font-size: .6em;
  margin: 0; }

.ng-invalid {
  box-shadow: 0 0 7px rgba(130, 10, 0, 0.8); }

.ng-valid {
  box-shadow: 0 0 5px chartreuse; }

.ng-pristine {
  box-shadow: none; }

/*# sourceMappingURL=style.css.map */
