doctype html
html(lang="el")
    head
        meta(charset="UTF-8")
        title PowerSaver Calculator
        link(rel="stylesheet", href="css/style.css")

    body
        div#saver-calc(ng-app="PSC")
            h3 Υπολογιστής Εξοικονόμησης Ενέργειας

            div(ng-controller="CalculatorCtrl")
                div#psc-options.container
                    div.form-group
                        label(for="kwh-cost") Κόστος KWh
                        input#kwh-cost(type="text", maxlength="7", value=".1", ng-required="required", ng-model="costKwh", ng-change="costValidator()")
                        span.suffix &euro;/KWh

                    div.form-group
                        label(for="brightness-target") Επιθυμητή Φωτεινότητα
                        input#brightness-target(maxlength="4", ng-model="brightness", ng-required="required", pattern="\\d{3,4}")
                        span.suffix Lm

                    div.form-group
                        label(for="daily-use-hours") Καθημερινή χρήση
                        input#daily-use-hours(type="text", value="5", maxlength="2", ng-required="required", ng-model="dailyUsageHours", pattern="(1?\\d|2[0-4])")
                        span.suffix(ng-bind="dailyUsageHours==1 ? 'ώρα' : 'ώρες'")
                        input(type="range", min="1", max="24", step="1", ng-model="dailyUsageHours")

                    div.form-group
                        label(for="annual-use-days") Ετήσια χρήση
                        input#annual-use-days(type="text", maxlength="3", ng-required="required", value="260", ng-model="annualUsageDays", pattern="((1|2)?\\d?\\d|3([0-5]\\d|6[0-5]))")
                        span.suffix(ng-bind="annualUsageDays==1 ? 'μέρα':'μέρες'")
                        input(type="range", min="1", max="365", step="1", ng-model="annualUsageDays")

                    div.form-group
                        label(for="annual-use-hours") Ετήσια χρήση
                        span#annual-use-hours.readonly-control(ng-bind="annualUsageHours")
                        span.suffix(ng-bind="annualUsageHours===1 ? 'ώρα' : 'ώρες'")

                div#psc-results.container(ng-show="arePredicatesValid()")
                    table
                        colgroup.descriptions(span="1")

                        thead
                            tr
                                th
                                th(colspan="4") Τύποι λαμπτήρων
                            tr
                                th
                                th.incandescent
                                    span πυρακτώσεως
                                th.halogen
                                    span αλογόνου
                                th.cfl
                                    span cfl
                                th.led
                                    span led
                        tbody
                            tr
                                td Ετήσιες ώρες χρήσης
                                td(colspan="4",style="text-align:center;") {{annualUsageHours}}h
                            tr
                                td Ισχύς λαμπτήρα
                                td {{bulbs.inc.power}}W
                                td {{bulbs.hal.power}}W
                                td {{bulbs.cfl.power}}W
                                td {{bulbs.led.power}}W
                            tr
                                td Ετήσια κατανάλωση
                                td {{bulbs.inc.power * annualUsageHours / 1000}}KWh
                                td {{bulbs.hal.power * annualUsageHours / 1000}}KWh
                                td {{bulbs.cfl.power * annualUsageHours / 1000}}KWh
                                td {{bulbs.led.power * annualUsageHours / 1000}}KWh
                            tr
                                td Τιμή KWh
                                td(colspan="4",style="text-align:center") {{costKwh}} &euro; / KWh
                            tr
                                td Ετήσιο κόστος
                                td {{bulbs.inc.cost}}&euro;
                                td {{bulbs.hal.cost}}&euro;
                                td {{bulbs.cfl.cost}}&euro;
                                td {{bulbs.led.cost}}&euro;
                            tr
                                td Εξοικονόμηση*
                                td &mdash;
                                td.savings {{bulbs.hal.savings}}%
                                td.savings {{bulbs.cfl.savings}}%
                                td.savings {{bulbs.led.savings}}%


                    p.footnote *Σε σχέση με τον αντίστοιχο λαμπτήρα πυρακτώσεως

        // SCRIPTS
        script(src="js/angular.min.js")
        script(src="js/calculator.js")
        script(src="js/psc.js")

