<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8">
    <title>PowerSaver Calculator</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="saver-calc" ng-app="PSC">
      <h3>Υπολογιστής Εξοικονόμησης Ενέργειας</h3>
      <div ng-controller="CalculatorCtrl">
        <div id="psc-options" class="container">
          <div class="form-group">
            <label for="kwh-cost">Κόστος KWh</label>
            <input id="kwh-cost" type="text" maxlength="7" value=".1" ng-required="required" ng-model="costKwh" ng-change="costValidator()"><span class="suffix">&euro;/KWh</span>
          </div>
          <div class="form-group">
            <label for="brightness-target">Επιθυμητή Φωτεινότητα</label>
            <input id="brightness-target" maxlength="4" ng-model="brightness" ng-required="required" pattern="\d{3,4}"><span class="suffix">Lm</span>
          </div>
          <div class="form-group">
            <label for="daily-use-hours">Καθημερινή χρήση</label>
            <input id="daily-use-hours" type="text" value="5" maxlength="2" ng-required="required" ng-model="dailyUsageHours" pattern="(1?\d|2[0-4])"><span ng-bind="dailyUsageHours==1 ? 'ώρα' : 'ώρες'" class="suffix"></span>
            <input type="range" min="1" max="24" step="1" ng-model="dailyUsageHours">
          </div>
          <div class="form-group">
            <label for="annual-use-days">Ετήσια χρήση</label>
            <input id="annual-use-days" type="text" maxlength="3" ng-required="required" value="260" ng-model="annualUsageDays" pattern="((1|2)?\d?\d|3([0-5]\d|6[0-5]))"><span ng-bind="annualUsageDays==1 ? 'μέρα':'μέρες'" class="suffix"></span>
            <input type="range" min="1" max="365" step="1" ng-model="annualUsageDays">
          </div>
          <div class="form-group">
            <label for="annual-use-hours">Ετήσια χρήση</label><span id="annual-use-hours" ng-bind="annualUsageHours" class="readonly-control"></span><span ng-bind="annualUsageHours===1 ? 'ώρα' : 'ώρες'" class="suffix"></span>
          </div>
        </div>
        <div id="psc-results" ng-show="arePredicatesValid()" class="container">
          <table>
            <colgroup span="1" class="descriptions"></colgroup>
            <thead>
              <tr>
                <th></th>
                <th colspan="4">Τύποι λαμπτήρων</th>
              </tr>
              <tr>
                <th></th>
                <th class="incandescent"><span>πυρακτώσεως</span></th>
                <th class="halogen"><span>αλογόνου</span></th>
                <th class="cfl"><span>cfl</span></th>
                <th class="led"><span>led</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ετήσιες ώρες χρήσης</td>
                <td colspan="4" style="text-align:center;">{{annualUsageHours}}h</td>
              </tr>
              <tr>
                <td>Ισχύς λαμπτήρα</td>
                <td>{{bulbs.inc.power}}W</td>
                <td>{{bulbs.hal.power}}W</td>
                <td>{{bulbs.cfl.power}}W</td>
                <td>{{bulbs.led.power}}W</td>
              </tr>
              <tr>
                <td>Ετήσια κατανάλωση</td>
                <td>{{bulbs.inc.power * annualUsageHours / 1000}}KWh</td>
                <td>{{bulbs.hal.power * annualUsageHours / 1000}}KWh</td>
                <td>{{bulbs.cfl.power * annualUsageHours / 1000}}KWh</td>
                <td>{{bulbs.led.power * annualUsageHours / 1000}}KWh</td>
              </tr>
              <tr>
                <td>Τιμή KWh</td>
                <td colspan="4" style="text-align:center">{{costKwh}} &euro; / KWh</td>
              </tr>
              <tr>
                <td>Ετήσιο κόστος</td>
                <td>{{bulbs.inc.cost}}&euro;</td>
                <td>{{bulbs.hal.cost}}&euro;</td>
                <td>{{bulbs.cfl.cost}}&euro;</td>
                <td>{{bulbs.led.cost}}&euro;</td>
              </tr>
              <tr>
                <td>Εξοικονόμηση*</td>
                <td>&mdash;</td>
                <td class="savings">{{bulbs.hal.savings}}%</td>
                <td class="savings">{{bulbs.cfl.savings}}%</td>
                <td class="savings">{{bulbs.led.savings}}%</td>
              </tr>
            </tbody>
          </table>
          <p class="footnote">*Σε σχέση με τον αντίστοιχο λαμπτήρα πυρακτώσεως</p>
        </div>
      </div>
    </div>
    <!-- SCRIPTS-->
    <script src="js/angular.min.js"></script>
    <script src="js/calculator.js"></script>
    <script src="js/psc.js"></script>
  </body>
</html>